@model StoreProduct
@{
    var originChecked = "checked";
    if(Model.origin == "Yabancı")
        originChecked = "";
    var changeStatusCommand = Model.is_active ? "Satışa Kapat" : "Satışa Aç";
    var storeNameWithAdditional = Model.Store == null ? "" : Model.Store.name.EndsWith('1') ? Model.Store.name+"'e " : Model.Store.name.EndsWith('a') ? Model.Store.name + "'ya " : Model.Store.name.EndsWith('i') ? Model.Store.name + "'ne " : Model.Store.name.EndsWith('r') || Model.Store.name.EndsWith('l') ? Model.Store.name + "'a " : Model.Store.name + " Mağazasına ";
}
<form asp-action="SendProductToStore" onsubmit="return submitStoreProduct(this)" autocomplete="off">
    <input type="hidden" asp-for="store_id" />
    <input type="hidden" asp-for="product_id" />
    <input id="currency" type="hidden" asp-for="currency" />
    <input id="origin" type="hidden" asp-for="origin" />
    <div class="form-group">
        <div class="form-group row">
            @if(Model.is_sent)
            {
                <button type="submit" class="btn btn-primary">Güncelle</button>
                <button onclick="changeProductStatus(@(Model.product_id), @(Model.store_id))" class="btn btn-warning">@changeStatusCommand</button>
                <button onclick="deleteProductFromStore(@(Model.product_id), @(Model.store_id))" class="btn btn-danger">Sil</button>
                <button type="submit" class="btn btn-success">Ürüne Gözat</button>
            }
        </div>
        <div class="row">
            <div class="col-sm-1">
                <label class="col-form-label">Menşei</label>
                <input class="form-control" id="checkbox-origin" name="all-checkbox-substract" type="checkbox" @originChecked data-toggle="toggle" data-onstyle="outline-primary" asp-for="origin" data-offstyle="outline-info" data-on="Yerli" data-off="Yabancı" data-size="sm">
            </div>
            <div class="col-sm-5">
                <label class="col-form-label">Satış Fiyatı</label>
                <input id="sale-price" type="text" asp-for="sale_price" class="form-control" style="border-radius: 5px;">
            </div>
            <div class="col-sm-5">
                <label class="col-form-label">Üstü Çizili Fiyat</label>
                <input id="strikethrough-price" type="text" asp-for="strikethrough_price" class="form-control" style="border-radius: 5px;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-form-label">Açıklama</label>
                <textarea id="description" type="text" asp-for="description" class="form-control" style="border-radius: 5px;"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label class="col-form-label">Kargo Bedeli</label>
                <input type="text" asp-for="shipping_fee" class="form-control" style="border-radius: 5px;" placeholder="Boş bırakabilirsiniz.">
            </div>
            <div class="col-sm-4">
                <label class="col-form-label">Komisyon</label>
                <input id="comission" type="text" asp-for="commission" class="form-control" style="border-radius: 5px;" placeholder="Boş bırakabilirsiniz.">
            </div>
            <div class="col-sm-4">
                <label class="col-form-label">Para Birimi</label>
                <select id="currency-option" class="form-control selectpicker" data-style="btn-primary">
                    <option value="TL">TL (₺)</option>
                    <option value="USD">USD ($)</option>
                    <option value="EUR">EUR (€)</option>
                </select>
            </div>
        </div>
    </div>
    @if(!Model.is_sent)
    {
        <div class="form-group">
            <button type="submit" class="btn btn-primary">@(storeNameWithAdditional)Gönder</button>
        </div>
    }
</form>