@model EditStoreProductModel
@{
    var originChecked = "checked";
    if(Model.StoreProduct.origin == "Yabancı")
        originChecked = "";
    var changeStatusCommand = Model.StoreProduct.is_active ? "Satışa Kapat" : "Satışa Aç";
    var changeStatusIconStyle = Model.StoreProduct.is_active ? "lock" : "lock-open";
    Model.StoreProduct.description ??= Model.StoreProduct.Product.description;
    Model.StoreProduct.sale_price = Model.StoreProduct.sale_price > 0 ? Model.StoreProduct.sale_price : Model.StoreProduct.Product.price;
    var browseProductButtonVisibility = Model.StoreProduct.is_active ? "" : "hidden";
}
<form asp-action="SendProductToStore" onsubmit="return submitStoreProduct(this)" autocomplete="off">
    <input id="store-id" type="hidden" asp-for="StoreProduct.store_id" />
    <input id="product-id" type="hidden" asp-for="StoreProduct.product_id" />
    <input id="currency" type="hidden" asp-for="StoreProduct.currency" />
    <input id="origin" type="hidden" asp-for="StoreProduct.origin" />
    <input id="attributes-query" type="hidden" asp-for="AttributesQuery" />
    <div class="form-group">
        <div class="form-group row">
            @if(Model.StoreProduct.is_sent)
            {
                <button type="submit" class="btn btn-primary ml-2"><i class="fas fa-exchange-alt"></i> Güncelle</button>
                <button id="change-product-status-button" type="button" onclick="changeProductStatus(@(Model.StoreProduct.product_id), @(Model.StoreProduct.store_id))" class="btn btn-warning ml-2"> <i class="fas fa-@(changeStatusIconStyle)"></i> @changeStatusCommand</button>
                <button type="button" onclick="deleteProductFromStore('@(Url.Action("DeleteProductFromStore","Products",new { storeProductId = Model.StoreProduct.store_product_id},Context.Request.Scheme))')" class="btn btn-danger ml-2"><i class="fas fa-trash-alt"></i> Sil</button>
                <a id="visit-product-button" href="@(Model.StoreProduct.url)" target="_blank" @(browseProductButtonVisibility) class="btn btn-success ml-2"><i class="fas fa-external-link-alt"></i> Ürüne Gözat</a>
            }
            else
            {
                <div class="form-group">
                    <button type="submit" class="btn btn-primary ml-2"><i class="fas fa-exchange-alt"></i> Gönder</button>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-sm-1">
                <label class="col-form-label">Menşei</label>
                <input class="form-control" id="checkbox-origin" name="all-checkbox-substract" type="checkbox" @originChecked data-toggle="toggle" data-onstyle="outline-primary" asp-for="StoreProduct.origin" data-offstyle="outline-info" data-on="Yerli" data-off="Yabancı" data-size="sm">
            </div>
            <div class="col-sm-2">
                <label class="col-form-label">Para Birimi</label>
                <select id="currency-option" class="form-control selectpicker" data-style="btn-primary">
                    <option value="TL">TL (₺)</option>
                    <option value="USD">USD ($)</option>
                    <option value="EUR">EUR (€)</option>
                </select>
            </div>
            <div class="col-sm-2">
                <label class="col-form-label">Satış Fiyatı</label>
                <input id="sale-price" type="text" asp-for="StoreProduct.sale_price" class="form-control" style="border-radius: 5px;">
            </div>
            <div class="col-sm-2">
                <label class="col-form-label">Üstü Çizili Fiyat</label>
                <input id="strikethrough-price" type="text" asp-for="StoreProduct.strikethrough_price" class="form-control" style="border-radius: 5px;">
            </div>
            <div class="col-sm-2">
                <label class="col-form-label">Katalog Numarası</label>
                <input id="catalog-id" type="text" asp-for="StoreProduct.catalog_id" class="form-control" style="border-radius: 5px;">
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-form-label">Açıklama</label>
                <textarea id="description" type="text" asp-for="StoreProduct.description" class="form-control" style="border-radius: 5px;"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="col-form-label">Kargo Bedeli</label>
                <input id="shipping-fee" type="text" asp-for="StoreProduct.shipping_fee" class="form-control" style="border-radius: 5px;" placeholder="Boş bırakabilirsiniz.">
            </div>
            <div class="col-sm-2">
                <label class="col-form-label">Komisyon</label>
                <input id="comission" type="text" asp-for="StoreProduct.commission" class="form-control" style="border-radius: 5px;" placeholder="Boş bırakabilirsiniz.">
            </div>
            <div class="col-sm-3">
                <label class="col-form-label">Teslimat Şablonu</label>
                <select asp-for="StoreProduct.shipment_template" id="shipment-template" class="form-control selectpicker" data-style="btn-primary">
                    @foreach(var template in Model.ShipmentTemplates)
                    {
                        <option value="@(template.Name)">@(template.Name)</option>
                    }
                </select>
            </div>
        </div>
    </div>
    @if(Model.CategoryAttributes?.Any() ?? false)
    {
        @await Html.PartialAsync("_ListCategoryAttributes", new ListCategoryAttributeModel { Attributes = Model.CategoryAttributes, CategoryName = Model.CategoryName });
    }
    @if(!string.IsNullOrEmpty(Model.AttributesQuery))
    {
        foreach(var pair in Model.AttributesQuery.Split("&&"))
        {
            var splitedPair = pair.Split("==");
            <script>
                jQuery('select[attribute-name="@Html.Raw(splitedPair.First())"]').selectpicker('val', '@Html.Raw(splitedPair.Last())');
            </script>
        }
    }
</form>
@if(!Model.StoreProduct.is_active)
{
    <div class="alert alert-warning alert-dismissible fade show ml-2 mr-2" role="alert">
        <strong>Unutmayın!</strong> Gönderdiğiniz ürünler onaylanmadan yayınlanmaz. Ürünleriniz senkronize edildiğinde ürününüz onaylanmışsa bu sayfada "Gözat" butonunu görebileceksiniz.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<script>
    jQuery('#currency-option').on('changed.bs.select', function () {
        jQuery('#currency').val(jQuery(this).val());
    });
    jQuery('#currency-option').selectpicker('val', '@(Model.StoreProduct.currency??"TL")');
    jQuery('#checkbox-origin').change(function () {
        var origin = "Yabancı";
        if (jQuery(this).prop('checked'))
            origin = "Yerli";
        jQuery('#origin').val(origin);
    });
</script>