@model CategoryOptionValueModel
@{
    if(!(Model?.MatchedCategoryOptionValues?.Any() ?? false))
        return;
    var matchedOptionValueDictionary = new Dictionary<string, long>();
}
<div class="table-responsive" style="overflow:auto">
    <table id="option-values-table-@(Model.CategoryOptionIdFromStore)" class="table table-bordered">
        <thead>
            <tr>
                <th>Sizin Değeriniz</th>
                <th>@Model.StoreName Değerleri</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var categoryOptionValue in Model.MatchedCategoryOptionValues)
            {
                var icon = categoryOptionValue.CategoryOptionValue != null ? "check" : "minus";
                var categoryOptionId = categoryOptionValue.CategoryOptionValue?.category_option_id ?? 0;
                var categoryOptionValueId = categoryOptionValue.CategoryOptionValue?.category_option_value_id ?? 0;

                <tr option-value-id="@categoryOptionValue.OptionValue.option_value_id" category-option-value-id="@categoryOptionValueId" category-option-id="@categoryOptionId">
                    <td>
                        <i class="fa fa-@(icon)-circle mr-1"></i> <p>@categoryOptionValue.OptionValue.name</p>
                    </td>
                    <td id="@($"value-name-{Model.CategoryOptionIdFromStore}-{categoryOptionValue.OptionValue.option_value_id}")">
                        <select id="store-attribute-value-options-@(Model.CategoryOptionIdFromStore)-@(categoryOptionValue.OptionValue.option_value_id)" class="form-control selectpicker" data-style="btn-outline-danger" title="Değeri Seçin">
                            @foreach(var value in Model.OptionValuesFromStore)
                            {
                                if(categoryOptionValue.CategoryOptionValue == null && categoryOptionValue.OptionValue.name.Equals(value.Name, StringComparison.InvariantCultureIgnoreCase))
                                    matchedOptionValueDictionary.Add($"{Model.CategoryOptionIdFromStore}-{categoryOptionValue.OptionValue.option_value_id}", value.Id);
                                <option id="store-attribute-value-@(value.Id)" value="@(value.Id)" attribute-name="@value.Name">@value.Name</option>
                            }
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if(Model.LocalCategoryOptionValuesExist)
{
    @foreach(var categoryOptionValue in Model.MatchedCategoryOptionValues)
    {
        if(categoryOptionValue.CategoryOptionValue != null)
        {
            var idKey = $"{Model.CategoryOptionIdFromStore}-{categoryOptionValue.OptionValue.option_value_id}";
            <script>
                jQuery('#store-attribute-value-options-@(idKey)').selectpicker('val', @(categoryOptionValue.CategoryOptionValue.store_category_value_id));
            jQuery('#store-attribute-value-options-@(idKey)').selectpicker('setStyle', 'btn-outline-success');
            </script>
            continue;
        }
        var key = $"{Model.CategoryOptionIdFromStore}-{categoryOptionValue.OptionValue.option_value_id}";
        if(matchedOptionValueDictionary.ContainsKey(key))
        {
            <script>
                jQuery('#store-attribute-value-options-@(key)').selectpicker('val', @(matchedOptionValueDictionary[key]));
                 jQuery('#store-attribute-value-options-@(key)').selectpicker('setStyle', 'btn-outline-success');
                jQuery('#value-name-@(key)').append('<small class="text-success">Otomatik eşleştirildi.</small>');
            </script>
        }
    }
}
else
{
    foreach(var optionValuePair in matchedOptionValueDictionary)
    {
        <script>
            jQuery('#store-attribute-value-options-@(optionValuePair.Key)').selectpicker('val', @(optionValuePair.Value));
            jQuery('#store-attribute-value-options-@(optionValuePair.Key)').selectpicker('setStyle', 'btn-outline-success');
            jQuery('#value-name-@(optionValuePair.Key)').append('<small class="text-success">Otomatik eşleştirildi.</small>');
        </script>
    }
}