@model CategoryOptionListModel
<hr />
<input type="hidden" value="" />
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-primary">@(Model.SelectedStoreName) Seçenekleri</th>
                <th scope="col" class="text-primary">Seçenekleriniz</th>
                <th scope="col" class="text-primary">İşlem</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.CategoryOptions?.Any() ?? false)
            {
                @foreach(var categoryOption in Model.CategoryOptions)
                {
                    var isRequiredText = categoryOption.FromStore.IsRequired ? "Zorunlu" : "Zorunlu Değil";
                    var nameStyle = categoryOption.FromStore.IsRequired ? "danger" : "success";
                    <tr>
                        <td><p class="text-justify font-weight-bold text-@nameStyle">@categoryOption.FromStore.Name (@isRequiredText)</p></td>
                        <td name="options-area" class="mr-2 ml-2">
                            <select class="form-control selectpicker" data-style="btn-outline-primary">
                                @foreach(var option in Model.Options)
                                {
                                    <option id="from_all_stores_@(option.option_id)" value="@(option.option_id)">@option.name</option>
                                }
                            </select>
                        </td>
                        <td><button onclick="matchCategoryOptions(@(categoryOption.FromStore.Id))" class="btn btn-outline-primary">Eşleştir</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
