@model UserStoreCategoryModel
@{
    ViewData["Title"] = "Kategoriler";
}
<div class="page-header mb-2" style="background-color:transparent">
    <div class="container-fluid">
        <ul class="breadcrumb" style="background-color:transparent">
            <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
            <li><a asp-controller="Categories" asp-action="Index">Kategoriler</a></li>
        </ul>
    </div>
</div>
<hr />
<table id="mytable" class="display" style="width: 100%;" role="grid"
       aria-describedby="example_info">
    <thead>
        <tr role="row">
            <td style="width: 1px;">
                <input type="checkbox" onclick="checkAll(this)">
            </td>
            <td>Kategori Adı</td>
            @foreach(var store in Model.Stores)
            {
                <td><div class="text-center"> <img class="img-fluid" src="~/img/stores/@store.Store.image" /> @store.Store.name</div> </td>
            }
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var category in Model.Categories)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selected[]" id="chck_@category.category_id" value="@category.category_id">
                    </td>
                    <td>
                        <p> @category.path_name</p>
                    </td>
                    @foreach(var store in Model.Stores)
                    {
                        <td>
                            @{
                                var infoMessage = "Eşleştirilmedi";
                                var infoStyle = "warning";
                                if(category.CategoryStores?.Any(cs => cs.store_id == store.store_id && cs.matched_category_code != null) ?? false)
                                {
                                    infoMessage = "Eşleştirildi";
                                    infoStyle = "success";
                                }
                                <small id="info-@(category.category_id)-@(store.store_id)" class="text-sm-left text-@infoStyle">@infoMessage</small>
                            }
                            <button onclick="showPopup('@Url.Action("EditStoreCategory","Categories",new { storeId = store.store_id, categoryId = category.category_id, storeName =store.Store.name },Context.Request.Scheme)', '@store.Store.name Ürün Ayarları')" class="btn btn-outline-primary">
                                <i class="fa fa-sm fa-pencil-alt"></i>
                            </button>
                        </td>
                    }
                </tr>
            }
        }

    </tbody>
</table>