@model IEnumerable<StoreModel>
@{
    ViewData["Title"] = "Index";
}

<div class="page-header mb-2" style="background-color:transparent">
    <div class="container-fluid">
        <ul class="breadcrumb" style="background-color:transparent">
            <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
            <li><a asp-controller="Stores" asp-action="Index">Pazaryeri Ayarları</a></li>
        </ul>
    </div>
</div>
<hr />
<table id="mytable" class="display" style="width: 100%;" role="grid"
       aria-describedby="example_info">
    <thead>
        <tr role="row">
            <td>Durum</td>
            <td>Resim</td>
            <td>İsmi</td>
            <td>Üyelik</td>
            <td>Ayarlar</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var store in Model)
            {
                <tr id="tr_@store.StoreId">
                    <td>
                        @{
                            if(store.IsConfirmed)
                            {
                                var status = store.IsActive ? "checked" : "";
                                <input type="checkbox" name="storeStatusCheckbox" @status data-toggle="toggle" data-on="Aktif" data-off="Pasif" data-onstyle="success" data-offstyle="danger" value="@Url.Action("ChangeStatus","Stores",new { storeId = store.StoreId},Context.Request.Scheme)" data-size="sm">
                            }
                            else
                            {
                                <p class="text-xl-left text-warning">-</p>
                            }
                        }
                    </td>
                    <td>
                        <img src="~/img/stores/@store.Image" class="img-thumbnail" alt="@store.Name" />
                    </td>
                    <td>
                        <p class="text-md-left text-info">  @store.Name</p>
                    </td>
                    <td>
                        @{
                            if(store.IsBought && store.IsConfirmed)
                            {
                                var colorType = "success";
                                if(store.RemainingDays < 30)
                                    colorType = "warning";
                                if(store.RemainingDays < 15)
                                    colorType = "danger";
                                <p class="text-md-left text-@colorType">@store.RemainingDays.ToString() Gün Kaldı</p>
                            }
                            else if(store.IsBought && !store.IsConfirmed)
                            {
                                <p class="text-md-left text-warning">Onay Bekliyor</p>
                            }
                            else
                            {
                                <a asp-action="AddStoreToUser" asp-controller="Stores" asp-route-id="@store.StoreId" class="btn btn-sm btn-success">Satın Al</a>
                            }
                        }
                    </td>
                    <td>
                        <button name="@store.Name" product_id="@store.StoreId" title="Güncelle" class="btn btn-outline-primary">
                            <i class="fa fa-sm fa-pencil-alt"></i>
                        </button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
<script>
    document.getElementById("stores").className += " active";
</script>
